// colors
$bg-general:#f8f8f8;
$bg-primary-button: #ffa837;
$bg-secondary-button: #0369d7;
$scienceBlue: #0369d7;
$white: #fff;
$black: #000;
$orange: #ffa837;
$light-grey: #bcbbbc;
$dark-grey: #5d5c5d;

// weights
$max-width: 1200px;
$h2-size: 2.5rem;
$h3-size: 1.8rem;
$h4-size: 1.3rem;
$icon-size: 1.5rem;
$p-small-size: 0.9rem;
$standard-bold: 500;
$bold: 600;
$extraBold: 800;